/*Foundation*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

/*Navigation*/
.navbar {
	padding: .2rem;
}

.logo {
	width: 300px;
	height: 90px;
}

.nav-link {
	font-size: 1em !important;
}

/*Call to Action*/
.fa-hospital,
.fa-plus-square,
.fa-home,
.fa-phone-square {
	color: #9fdfbf;
	font-size: 2.9rem;
}

.callToAction p {
	color: #222;
}

.callToAction a {
	text-decoration: none;
}

.btn-primary {
	color: #262c30;
	background-color: #9fdfbf;
	border: 1px solid #9fdfbf;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #fbcc0c !important;
	border: 1px solid #fbcc0c !important;
	box-shadow: none !important;
}

/*Connect*/
.social a {
	font-size: 4.5em;
	padding: 3rem;
}

.fa-instagram {
	color: #517fa4;
}

.fa-youtube {
	color: #bb0000;
}

.fa-whatsapp {
	color: #25D366;
}

.fa-viber {
	color: #8f5db7;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}

/*Footer*/
footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer a {
	color: #d5d5d5;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

/*--Media Queries --*/
/*Large (lx)*/
@media (max-width: 992px) {
	.social a {
		font-size: 4em;
		padding: 2rem;
	}
}

 /*Medium (md)*/
@media (max-width: 768px) {
	.btn {
		font-size: 95%;
		padding: 8px 14px;
	}
	.display-4 {
		font-size: 200%;
	}
	.social a {
		font-size: 2.5em;
		padding: 1.2rem;
	}
}

/*Small (sm)*/
@media (max-width: 576px) {
	.btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	.display-4 {
		font-size: 160%;
	}
	.social a {
		font-size: 2em;
		padding: .7rem;
	}
}

/*Custom Small*/
@media (max-width: 400px) {
	.logo {
		width: 230px;
		height: 70px;
	}
}
/*Custom Extra Small*/
@media (max-width: 340px) {
	.logo {
		width: 190px;
		height: 70px;
	}
}
